body {
	font-family: "Mulish", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: #131313;
	background-color: #fff;
}

.btn {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	cursor: pointer;
}